{% extends "base.html" %}

{% block container %}
    <main class="container mt-5">
        <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
            <form class="card mb-5" method="post">
                {{ form.csrf_token }}
                <div class="card-body text-center pt-5">
                    <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
                    <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
                </div>
                <hr>
                <div class="card-body mx-3">
                    <div class="row">
                        <div class="col">
                            {{ form.goal.label }}
                            {% for radio in form.goal %}
                                <div class="form-check ">
                                    {{ radio(class_='form-check-input') }}
                                    {{ radio.label(class_='form-check-label') }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col">
                            {{ form.time_per_week.label }}
                            {% for radio in form.time_per_week %}
                                <div class="form-check">
                                    {{ radio(class_='form-check-input') }}
                                    {{ radio.label(class_='form-check-label') }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card-body mx-3">
                    {{ form.name.label(class="mb-1 mt-2") }}
                    {{ form.name(class_='form-control', placeholder='Ваше имя') }}
                    {% for err in form.name.errors %}
                        <p>{{ err }}</p>
                    {% endfor %}
                    {{ form.phone.label(class="mb-1 mt-2") }}
                    {{ form.phone(class_='form-control', placeholder='9261234567') }}
                    {% for err in form.phone.errors %}
                        <p>{{ err }}</p>
                    {% endfor %}
                    {{ form.submit(class_="btn btn-primary mt-4 mb-2") }}
                </div>
            </form>
        </div>
    </main>
{% endblock %}